.lead__vector {
	position: absolute;
	top: 22%;
	right: 2%;
}

@media screen and (max-width: 1024px){
	.lead__vector {
		width: 95%;
		top: 20.5%;
	}
}

@media screen and (max-width: 768px){
	.lead__vector {
		width: 95%;
		top: 23%;
	}
}

@media all and (max-width: 320px){
	.lead__vector {
		width: 95%;
		top: 31%;
	}
}