.cover {
	margin: 0 auto;
	max-width: 1184px;
	position: relative;
	text-align: center;
	z-index: 2;
	cursor: pointer;
}

@media screen and (max-width: 1024px) {
	.cover {
		max-width: 1024px;
/*		min-height: 640px;*/
	}
}

@media screen and (max-width: 768px) {
	.cover {
		max-width: calc((100vw - 320px)/(768 - 320) * (768 - 320) + 480px);
/*		min-height: calc((100vw - 320px)/(768 - 320) * (768 - 200) + 250px);*/
	}
}

@media all and (max-width: 320px) {
	.cover {
		max-width: 320px;
/*		min-height: 200px;*/
	}
}